.Jumbotron {
  position: relative;
}

.BackgroundImage {
  height: 450px;
  width: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/splash.jpg");
  background-size: cover;
}

.SplashContent {
  position: absolute;
  top: 24%;
  left: 18%;
  color: white;
}
